# Ignore generated shortcuts
ranger/.config/ranger/shortcuts.conf
lf/.config/lf/lfshortcuts
doom/.doom.d/+shortcuts.el
vifm/.config/vifm/vifmshortcuts

#
vifm/.config/vifm/vifminfo
polybar/.config/polybar/config.ini
polybar/.config/polybar/launch.sh
i3/.config/i3/config
