[Unit]
Description=spotpris2 - MPRIS2 for spotify

[Service]
Type=simple
ExecStart=/usr/bin/spotpris2
ExecStop=/usr/bin/killall spotpris2
Restart=always

[Install]
WantedBy=default.target
