[Unit]
Description = Lock screen when going to sleep/suspend/hibernate

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock
# ExecStart=/home/carlb/.scripts/tools/lockscreen
# ExecStartPost=/usr/bin/sleep 5
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target

# enable with: sudo systemctl enable i3lock@$USER
